:root{
    --base:#ffc600;
}

  h1{
    text-align: center;
  }

.container{
    display: flex;
   justify-content: space-around;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#sketch{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
  
}
.grid{
    
   display: flex;
   
    max-height: 50%;
    max-width: 50%;;
    flex:1;
}
.column{
    flex:1; 
    
}
#row{
  
    background-color:white;
    border:1px solid black;
    border-width:thin;
    text-align: center;
    width: 500px;
    
   
}
#row:hover{
    background-color:gray;
}