:root{
    --base:#ffc600;
    --scale:16px;
}
body{
    background-color: lightblue;
}

.container{
    display: flex;
}
.main{
    display: flex;
}
.controls{
   display: flex;
   flex-direction: column;
   margin-right: 50px;
}
.gridWrap{
    display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.gridContainer{
    float: right;
    display:grid;
    width: 500px;
    height:500px;
    border: 1px rgba(0, 0, 0, 0.404) solid;
}
.gridItem{
    user-select: none;
    border: 1px solid gray;
}